<div class="index-container">

  <div class="section-title-container">
    <h4 class="section-title">Recent Stories</h4>
  </div>

  <table id="index-table">
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @stories.each do |story| %>
        <tr>
          <td><a href="<%=story_url(story.id)%>"><%= story.title %></a></td>
          <td><a target="_self" href="<%= edit_story_url(story.id) %>">Edit </a></td>
          <td>
            <form action="<%= story_url(story.id) %>" method="POST" id="the-form">  
                <input type="hidden" name="_method" value="DELETE" />
                <button id="delete-btn">Delete</button>
            </form>
          </td>
        </tr>
    <% end %>
  </table>

  <div>
    <a target="_self" href="<%= new_story_url %>" id="submit-btn">Create New</a>
  </div>
</div>

